<% if defined? dose.ingredient.name %>
<div class="d-flex justify-content-between m-3">
  <p><strong><%= dose.ingredient.name %></strong></p>
  <div class='d-flex'>
    <p><%= dose.description %></p>
    <%= link_to cocktail_path(dose.ingredient), class: "ml-2 light-icon"  do %>
      <%= icon('fas', 'trash') %>
    <% end %>
  </div>
</div>
<% end %>
