// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cocktails-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

a {
  color: inherit;
}

.light-icon {
  color: rgba(20, 20, 20, 0.4);

  &:hover {
    color: rgba(20, 20, 20, 0.8);
  }
}

.cocktail-image {
  height: 400px
}
